
*.dll

*.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/cache/01/01c095eb8b05a425791d74f7d5998b3c

Library/guidmapper

Library/ScriptAssemblies/Assembly-CSharp.dll

Temp/__EditModeScene

Library/cache/cd/cd3117684b3ed45758a99073ca0eb2db

Library/metadata/cd/cd3117684b3ed45758a99073ca0eb2db
